.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  grid-template-columns: repeat(auto-fit, 282px);
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
}

@media screen and (max-width: 879px) {
  .header {
    max-width: 581px;
  }
  .header__logo {
    margin-left: 27px;
    max-width: 126px;
  }
}
@media screen and (max-width: 580px) {
  .header {
    width: 100%;
  }
}
