.footer {
  font-family: "Inter", Arial, sans-serif;
  padding: 67px 0 60px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #545454;
  max-width: 880px;
  margin: 0 auto;
}

.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 595px) {
  .footer {
    padding: 48px 0 36px 0;
    max-width: 282px;
  }

  .footer__copyright {
    line-height: 17px;
    font-size: 14px;
  }
}
