.header {
  max-width: 880px;
  width: 100%;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  align-items: center;
}
.header__logo {
  height: 33px;
  width: 173px;
  margin-bottom: 41px;
  margin-top: 45px;
}

@media screen and (max-width: 880px) {
  .header {
    margin: 0;
    height: 100%;
    padding-top: 28px;
  }
  .header__logo {
    height: 24px;
    width: 126px;
    margin-bottom: 28px;
    margin-top: 32px;
  }
}
