.header {
  display: flex;
  min-height: 84px;
  align-items: center;
  flex-shrink: 0;
  max-width: 882px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

.header__logo {
  max-width: 173px;
  height: 33px;
  margin-left: 12px;
  margin-top: 45px;
  object-fit: contain;
  margin-bottom: 40px;
}

@media screen and (max-width: 480px) {
  .header {
    max-width: 100%;
  }

  .header__logo {
    max-width: 126px;
    height: 24px;
    padding-bottom: 32px;
    padding-left: 27px;
    padding-top: 28px;
    margin: 0;
  }
}
