.header__image {
  padding-bottom: 41px;
}

.header {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 917px) {
  .header {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0;
  }

  .header__image {
    padding-top: 28px;
    padding-left: 27px;
    padding-bottom: 32px;
    width: 126px;
    height: 24px;
  }
}
