.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s ease-out;
}

.modal_opened {
  visibility: visible;
  transition-delay: 0s;
  opacity: 1;
}

.modal__container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  padding: 34px 36px 36px 36px;
  margin: auto;
  flex-direction: column;
  position: relative;
  max-width: 358px;
}
.modal__close-button {
  background: transparent url(../images/Close\ button.svg) center no-repeat;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: rgb(0, 0, 0);
  padding-bottom: 52px;
  margin: 0;
}

.modal__form {
  width: fit-content;
}

.modal__input {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgb(0, 0, 0);
  border: none;
  width: 100%;
  height: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-top: 30px;
  padding-top: 0px;
  padding-bottom: 13px;
  padding-left: 0px;
  padding-right: 0px;
}

.modal__input:first-child {
  margin-top: 0;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__error {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  min-height: 12px;
  color: #ff0000;
  align-self: flex-start;
  transition: opacity 0.3s;
  visibility: hidden;
}

.modal__error_visible {
  visibility: visible;
}

.modal__button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border: none;
  padding: 0;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__button_disabled {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.modal__button_disabled:hover {
  cursor: default;
  opacity: 1;
}

.modal__preview-container {
  background-color: transparent;
  max-width: 433px;
  max-height: 540px;
  position: relative;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.modal__image-preview {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  letter-spacing: 0cm;
}

@media screen and (max-width: 620px) {
  .modal__close-button {
    width: 26px;
    height: 26px;
    top: -44px;
    left: calc(100% - 24px);
  }

  .modal__image-preview {
    max-width: 75vw;
    max-height: 75vh;
  }

  .modal__close-button_type_preview {
    height: 30px;
    width: 30px;
    left: calc(100% + 5px);
  }
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: 238px;
    padding: 25px 22px;
  }

  .modal__form {
    width: fit-content;
  }

  .modal__heading {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 75px;
  }
  .modal__input:first-child {
    width: 238px;
  }
  .modal__close-button {
    width: 26px;
    height: 26px;
    top: -39px;
    left: 256px;
  }
  .modal__preview-container {
    display: flex;
    background-color: transparent;
    align-items: flex-start;
  }

  .modal__button {
    font-size: 14px;
    line-height: 16px;
  }

  .modal__close-button_type_preview {
    height: 30px;
    width: 30px;
    position: absolute;
    left: calc(100% + 5px);
  }
}
