.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  max-height: 282px;
  flex: 0 0 282px;
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/heart\ icon.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  border-radius: 0 0 10px;
  transition: opacity 0.3s ease-in-out;
}

.card__like-button_active {
  background-image: url(../images/heart-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  background: transparent url(../images/trash.svg);
  position: absolute;
  width: 18px;
  height: 19.3px;
  top: 18px;
  right: 15px;
  border: none;
  transition: opacity 0.3s ease-in-out;
  background-size: contain;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
