.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  padding-bottom: 41px;
}

@media screen and (max-width: 544px) {
  .header {
    margin-top: 28px;
    height: 56px;
    padding: 0;
  }

  .header__image {
    height: 24px;
    width: 126px;
    margin-left: 27px;
  }
}
