.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 51px;
}

.profile__picture {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-position: center;
  object-fit: cover;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: auto;
  gap: 7px 18px;
  align-items: center;
  margin-left: 30px;
}

.profile__info-name {
  font-family: Inter, sans-serif, serif;
  font-size: 42px;
  max-width: 373px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 48px;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__info-description {
  font-family: Inter, sans-serif, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.2px;
  margin: 0;
  padding: 0;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

.profile__edit-button {
  background: transparent url(../images/Pencil.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: solid 1px #fff;
  transition: opacity 0.1s linear;
  grid-area: button;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__button-icon {
  height: 22px;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  background: transparent url(../images/Plus.svg) center no-repeat;
  border: solid 2px #fff;
  background-repeat: no-repeat;
  transition: opacity 0.1s linear;
  margin-left: auto;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .profile__info-name {
    font-size: 32px;
    line-height: 34.5px;
  }

  .profile__add-button {
    margin-left: 15px;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 36px;
  }
  .profile__add-button {
    align-self: center;
    margin: 36px auto 0 auto;
    width: 282px;
  }
  .profile__info {
    margin: 25px auto auto auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 282px;
    align-items: center;
    row-gap: 0;
  }
  .profile__info-name {
    font-size: 22px;
    gap: 0 0;
    line-height: 27px;
    max-width: 220px;
  }
  .profile__info-description {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
