.footer {
  margin: 0 auto;
  max-width: 880px;
}
.footer__name {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .footer {
    max-width: 879px;
    margin: 0 auto;
  }
  .footer__name {
    margin-left: 80px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    max-width: 580px;
    margin-left: auto;
  }
  .footer__name {
    max-width: 580px;
    margin-right: 0;
    padding-top: 35px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 320px) {
  .footer__name {
    padding-top: 48px;
    max-width: 320px;
    margin-left: 16px;
  }
}
